/*https://coolors.co/087e8b-fffffa-515052-000103-6da34d*/

html, body {
    height: 100%;
    width: 100%;
    background:#eee;
    overflow: hidden;
    padding:0;
    margin: 0;
}
 #map{
     width:100%;
     height: calc(100% - 48px);
}

h1, h2, h3, h4 {
  font-family: 'Work Sans', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #087e8b;
}

 /* Add a black background color to the top navigation */
 .topnav {
  background-color: #000103;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  border: none;
  float: left;
  display: block;
  color: #e1efe6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Work Sans', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fffffa;
  color: #000103;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #6da34d;
  color: #000103;
}

#news {
margin-right: 3em;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
} 


 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
 @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 


/**************** leaflet map **************/

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar, .leaflet-bar a{
  border-color: #6da34d;
}



/**************** leaflet sidebar by https://github.com/Turbo87/leaflet-sidebar **************/



.leaflet-sidebar {
	position: absolute;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*padding: 10px;*/
  z-index: 2000;
  font-family: 'Roboto', Verdana;
}

.leaflet-sidebar.left {
	left: -500px;
	transition: left .5s, width .5s;
	padding-right: 0
}

.leaflet-sidebar.left.visible {
	left: 0
}

.leaflet-sidebar.right {
	right: -500px;
	transition: right .5s, width .5s;
	padding-left: 0
}

.leaflet-sidebar.right.visible {
	right: 0
}

.leaflet-sidebar>.leaflet-control {
	height: 100%;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px 24px;
	font-size: 1.1em;
	background: #fff;
	box-shadow: 0 1px 7px rgba(0, 0, 0, .65);
/*	-webkit-border-radius: 4px;
	border-radius: 4px*/
}

.leaflet-touch .leaflet-sidebar>.leaflet-control {
	box-shadow: none;
	border-left: 2px solid rgba(0, 2, 5, .6);
	background-clip: padding-box
}

@media (max-width:767px) {
	.leaflet-sidebar {
		width: 100%;
		padding: 0
	}
	.leaflet-sidebar.left.visible~.leaflet-left {
		left: 100%
	}
	.leaflet-sidebar.right.visible~.leaflet-right {
		right: 100%
	}
	.leaflet-sidebar.left {
		left: -100%
	}
	.leaflet-sidebar.left.visible {
		left: 0
	}
	.leaflet-sidebar.right {
		right: -100%
	}
	.leaflet-sidebar.right.visible {
		right: 0
	}
	.leaflet-sidebar>.leaflet-control {
		box-shadow: none;
		-webkit-border-radius: 0;
		border-radius: 0
	}
	.leaflet-touch .leaflet-sidebar>.leaflet-control {
		border: 0
	}
}

@media (min-width:768px) and (max-width:991px) {
	.leaflet-sidebar {
		width: 305px
	}
	.leaflet-sidebar.left.visible~.leaflet-left {
		left: 305px
	}
	.leaflet-sidebar.right.visible~.leaflet-right {
		right: 305px
	}
}

@media (min-width:992px) and (max-width:1199px) {
	.leaflet-sidebar {
		width: 390px
	}
	.leaflet-sidebar.left.visible~.leaflet-left {
		left: 390px
	}
	.leaflet-sidebar.right.visible~.leaflet-right {
		right: 390px
	}
}

@media (min-width:1200px) {
	.leaflet-sidebar {
		width: 460px
	}
	.leaflet-sidebar.left.visible~.leaflet-left {
		left: 460px
	}
	.leaflet-sidebar.right.visible~.leaflet-right {
		right: 460px
	}
}

.leaflet-sidebar .close {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 31px;
	height: 31px;
	color: #333;
	font-size: 25px;
	line-height: 1em;
	text-align: center;
	background: #fff;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	cursor: pointer;
	z-index: 8
}

.leaflet-left {
	transition: left .5s
}

.leaflet-right {
	transition: right .5s
}

.leaflet-sidebar a {
  color: #000 ;
  text-decoration: none;
  display: inline-block;
}

.leaflet-sidebar a::after {
  content: '';
  display: block;
  border-bottom: solid 2px #6da34d;  
  transform: scaleX(1);  
  transition: transform 250ms ease-in-out;
}
.leaflet-sidebar a:hover::after {
  transform: scaleX(0);
}

.button {
  background-color: #eee;
  padding: 5px;
}

.fWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5px;
  grid-auto-rows: minmax(50px, auto);
}

.fWrapper .fTitle {
  grid-column: 1 / 3;
  grid-row: 1;
}

.fWrapper .fKat {
  grid-column: 1 / 3;
  grid-row: 2;
}

.bKat, .bArt {
   display: inline-block;
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 1.1em;
  color:#f1fff6; 
  padding: 10px;
  border-radius: 4px;
  text-align:center;
  margin: 0 10px 0 0;
}

.bKat {
  background-color: #087e8b;
}

.fWrapper .fDesc {
  grid-column: 1 / 3;
  grid-row: 3;
}

.fWrapper .fLink {
  grid-column: 1 / 2;
  grid-row: 4;
}

.fWrapper .fStand {
  grid-column: 2 / 3;
  grid-row: 4;
  text-align: right;
  padding: 5px;
}

